<header class="bg-hero-pattern bg-cover mix-blend-normal">
    <!-- <img src="./assets/bg.jpg" alt="" /> -->
    <nav class="flex justify-between items-center container mx-auto py-6">
      <img src="./assets/logo.svg" alt="logo" class="w-36" />
      <div>
        <ul class="flex justify-between gap-24 font-bold">
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SERVICES</a></li>
          <li><a href="">CONTACT US</a></li>
        </ul>
      </div>
      </div>
    </nav>
    <h1 class="container mx-auto text-6xl lg:text-8xl xl:text-9xl my-52 font-bold">Think Beyond <br> Audit<span class="text-red-500">.</span></h1>
    <div class="grid lg:grid-cols-3 gap-4 container mx-auto">
      <div class="flex flex-col justify-around h-[460px] bg-[#CB5050] mix-blend-multiply p-10 shadow-lg rounded-sm">
          <div class="flex items-center">
              <div class="rect mr-12 ml-6"></div>
              <h2 class="text-4xl font-bold text-white">LEVEL 1 <br>B-BBEE</h2>
          </div>
          <p class="text-white mt-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis cras rutrum faucibus nisl. Nisl sed justo, donec tincidunt fringilla sit sit magna. Blandit malesuada tincidunt sollicitudin nulla cursus. Metus vestibulum at venenatis,</p>
          <div class="flex flex-row-reverse text-white font-bold mt-12">
             <a href=""> FIND OUT MORE ></a>
          </div>
      </div>
      <div class="flex flex-col justify-around h-[460px] bg-[#FCD583] mix-blend-multiply  p-10 shadow-lg rounded-sm">
          <div class="flex items-center">
              <div class="rect mr-12 ml-6"></div>
              <h2 class="text-4xl font-bold text-white">OVER 7 <br>YEARS EXPERIENCE</h2>
          </div>
          <p class="text-white mt-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis cras rutrum faucibus nisl. Nisl sed justo, donec tincidunt fringilla sit sit magna. Blandit malesuada tincidunt sollicitudin nulla cursus. Metus vestibulum at venenatis,</p>
          <div class="flex flex-row-reverse text-white font-bold mt-12">
             <a href=""> FIND OUT MORE ></a>
          </div>
      </div>
      <div class="flex flex-col justify-around h-[460px] bg-[#3CBCC3] mix-blend-multiply  p-10 shadow-lg rounded-sm">
          <div class="flex items-center">
              <div class="rect mr-12 ml-6"></div>
              <h2 class="text-4xl font-bold text-white">CLIENT <br>FOCUSED</h2>
          </div>
          <p class="text-white mt-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis cras rutrum faucibus nisl. Nisl sed justo, donec tincidunt fringilla sit sit magna. Blandit malesuada tincidunt sollicitudin nulla cursus. Metus vestibulum at venenatis,</p>
          <div class="flex flex-row-reverse text-white font-bold mt-12">
             <a href=""> FIND OUT MORE ></a>
          </div>
      </div>
    </div>
  </header>