@tailwind base;
@tailwind components;
@tailwind utilities;

.card__link {
    @apply text-white hover:text-black text-2xl font-bold bg-black hover:bg-[#FCD583] p-7;
}
/* 
header {
    height: 150vh;
} */

.rect {
    width: 60px;
    height: 113px;
    transform: skew(-20deg);
    background: white;
}

.rect__nav {
    width: 10px;
    height: 18px;
    transform: skew(-20deg);
    background: #CB5050;
}
.rect__hero {
    width: 200px;
    height: 400px;
    transform: skew(-20deg);
    background: #CB5050;
}